USE [master]
GO
/****** Object:  Database [SMSReminder]    Script Date: 2019-08-05 8:51:50 AM ******/
CREATE DATABASE [SMSReminder]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SMSReminder', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\SMSReminder.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SMSReminder_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\SMSReminder_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SMSReminder].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SMSReminder]
GO
/****** Object:  Table [dbo].[Reminder]    Script Date: 2019-08-05 8:51:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reminder](
	[rid] [varchar](100) NOT NULL,
	[shortDes] [nvarchar](100) NOT NULL,
	[date] [datetime] NOT NULL,
 CONSTRAINT [PK__Reminder__C2B7EDE8C39D419A] PRIMARY KEY CLUSTERED 
(
	[rid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
